doctype
html
  head
    title Example Prototype
    link(rel="stylesheet" href="/css/main.css")
  body
    
    != partial('_partials/nav-main.jade')
    
    .container
      .col-md-8.col-md-offset-2
        != yield
