h1= title
p.lead= intro
P 
  .btn-toolbar
    a.btn.btn-primary.btn-lg(href='/files/example-prototype.zip')
      | Download the Source Code

    a.btn.btn-default.btn-lg(href='https://bitbucket.org/nformux/example-prototype.git')
      | Clone the Project on Bitbucket
hr
br
h3 Consectetur adipiscing elit
.row
  != partial('_partials/items')
    
!= partial('_partials/paragraph')
