nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-main', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Example Prototype
    
    #nav-main.collapse.navbar-collapse
      ul.nav.navbar-nav
        
        each link in navMain
          li(class=( ( '/' + current.source ) == link.href ? 'active': ''))
            a(href=link.href)= link.label
